In [2]:
#Python Basics Assignments

In [3]:
"Selvi Basaran"

'Selvi Basaran'

In [6]:
print ('Selvi \n Basaran')

Selvi
 Basaran

In [32]:
print( " `I don\'t want to be an \"artist\". I want to be a \" Data ScientistBasic Data Types.\"`  ")

 `I don't want to be an "artist". I want to be a " Data Scientist."`

In [33]:
#Basic Data Types

In [34]:
capital=1000

In [35]:
dailygrowth=12

In [36]:
period=7

In [95]:
growth=((capital*dailygrowth)/period)

In [96]:
print("growthrate:",(growth-capital)/growth)

growthrate: 0.41666666666666663

In [56]:
 print("  ` \" When we buy bitcoin with {0} USD at the beginning of the week, \n we would earn {1} USD at the end of the week, with an average gain of {2}\%. \" ` ".format(1000,1210.68,12))

  ` " When we buy bitcoin with 1000 USD at the beginning of the week,
 we would earn 1210.68 USD at the end of the week, with an average gain of 12\%. " `

In [57]:
temp=input("Enter the temperature in Fahrenheit:")

Enter the temperature in Fahrenheit:26

In [83]:
print("Temperature (C) :",(5/9) * (int(temp) - 32))

Temperature (C) : -3.3333333333333335

In [98]:
a=input("Bir Sayı Girin:")

Bir Sayı Girin:365

In [108]:
sum=int(a[0])+int(a[1])+int(a[2])

In [110]:
print("The sum of digits in the number is",sum)

The sum of digits in the number is 14

In [111]:
firstlen=input("first side lenth :")

first side lenth :6

In [112]:
secondlen=input("second side lenth :")

second side lenth :8

In [124]:
from math import sqrt
print("The length of the hypotenuse is",sqrt(int(firstlen)**2+int(secondlen)**2))

The length of the hypotenuse is 10.0

In [125]:
#What are Variables?

In [126]:
x=1
y=1

In [127]:
type(x)
type(y)

int

In [128]:
print(x,y)

1 1

In [133]:
y=str(y)

In [134]:
x=str(y)

In [139]:
type(x)
type(y)

str

In [140]:
#LISTS

In [141]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [167]:
my_list.sort()
a=len(my_list)-1
print(int(a))
print("two lowest number:",my_list[0],",",my_list[1],", Two highest number: ",my_list[a],",",my_list[a-1])

10
two lowest number: 2 , 12 , Two highest number:  98 , 76

In [2]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven","Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

In [14]:
a=input("Scorunu ogrenmek istediğiniz ogrenci adını girin")
print(scores[names.index(a)])

Scorunu ogrenmek istediğiniz ogrenci adını girinMark
94

In [31]:
scores.sort(reverse=True)
a=scores[0]
scores.count(a)

1

In [37]:
Months = ['January', 'February', 'March', 
          'April', 'May', 'June', 
          'July', 'August', 'September', 
          'October', 'November', 'December']
days=[31,28,31,30,31,30,31,31,30,31,30,31]
monthanddays= [Months,days]
print(monthanddays)

[['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]]

In [52]:
spring = [Months[2],days[2],Months[3],days[3],Months[4],days[4]] #'March', 'April', 'May'
summer = [Months[5],days[5],Months[6],days[6],Months[7],days[7]]#'June', 'July', 'August'
fall = [Months[8],days[8],Months[9],days[9],Months[10],days[10]] #'September', 'October', 'November'
winter = [Months[11],days[11],Months[0],days[0],Months[1],days[1]]#'December', 'January', 'February'
print(spring)
print(summer)
print(fall)
print(winter)

['March', 31, 'April', 30, 'May', 31]
['June', 30, 'July', 31, 'August', 31]
['September', 30, 'October', 31, 'November', 30]
['December', 31, 'January', 31, 'February', 28]

In [56]:
print("Total days in summer:",int(summer[1])+int(summer[3])+int(summer[5]))

Total days in summer: 92

In [57]:
#Dictionaries

In [61]:
days={"Monday":1,
     "Tuesday":2,
     "Wendesday":3,
     "Thursday":4,
     "Friday":5,
     "Saturday":6,
     "Sunday":7}

In [63]:
a=input("Bir gün seç")
b=input("Bir tane daha seç")

Bir gün seçMonday
Bir tane daha seçTuesday

In [69]:
days.pop(a)
days.pop(b)
print(days)

{'Wendesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}

In [147]:
personel={"John":{"age":25,"sex":"male"} 
         ,"Lisa":{"age":28,"sex":"female"}
           ,"Linda":{"age":32,"sex":"female","child":{"Susan":{"age":6,"sex":"female"}}}
                  ,"Michael":{"age":41,"sex":"male","child":{"Karen":{"age":12,"sex":"female"},"Greg":{"age":7,"sex":"male"}}}
         }
print(personel)
#"Name":"John","Age":25,"Sex":"Male"
  #  ,"Name":"Lisa","Age":28,"Sex":"Female"
   # ,"Name":"Linda","Age":32,"Sex":"Female"
    #,"Name":"Michael","Age":41,"Sex":"Male"

{'John': {'age': 25, 'sex': 'male'}, 'Lisa': {'age': 28, 'sex': 'female'}, 'Linda': {'age': 32, 'sex': 'female', 'child': {'Susan': {'age': 6, 'sex': 'female'}}}, 'Michael': {'age': 41, 'sex': 'male', 'child': {'Karen': {'age': 12, 'sex': 'female'}, 'Greg': {'age': 7, 'sex': 'male'}}}}

In [148]:
personel.keys()

dict_keys(['John', 'Lisa', 'Linda', 'Michael'])

In [149]:
personel["Michael"]["child"]

{'Karen': {'age': 12, 'sex': 'female'}, 'Greg': {'age': 7, 'sex': 'male'}}

In [150]:
 #Tuples and Sets

In [155]:
weekdays = ["Monday",
     "Tuesday",
     "Wendesday",
     "Thursday",
     "Friday",
     "Saturday",
     "Sunday"]

my_tuple = tuple(weekdays)
print(my_tuple)
print(type(my_tuple), '\n')

('Monday', 'Tuesday', 'Wendesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
<class 'tuple'>

In [156]:
fruits = set(['apple', 'mango', 'orange' ])
print(fruits)

{'orange', 'mango', 'apple'}
<class 'set'>

In [159]:
new_fruits=set(['cherry', 'peach', 'apple', 'mango']
print(new_fruits)

{'mango', 'cherry', 'peach', 'apple'}

In [160]:
print(fruits.difference(new_fruits))

{'orange'}

In [161]:
print(fruits.intersection(new_fruits))

{'mango', 'apple'}